@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./Variables.css";
@import "./Table.css";
@import "./Form.css";
@import "./Flex.css";
@import "./Grid.css";
@import "./Buttons.css";
@import "./Link.css";
@import "./Loading.css";
@import "./Animations.css";
@import "./Pop.css";
@import "./Panel.css";
@import "./Font.css";

* {
    box-sizing: border-box;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    background-color: #f8f9fa;
}


.gap,
.gap {
    gap: 1rem;
}

.gap5,
.gap5 {
    gap: 0.5rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;

}


.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.divider {
    border-top: 1px solid var(--gray);
}

.rounded {
    border-radius: 50%;
}

svg,
img {
    width: 100%;
}

@media print {
    body {
        visibility: hidden;
    }

    #print {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
}