:root {
    --color1: #17EAD9;
    --color2: #4586FF;
    --color3: #A35FBE;
    --gradient: linear-gradient(70deg, var(--color1), var(--color3));
    --dark: black;
    --gray: #b3b3b3;
    --gray2: #e9e9e9;
    --paddingy: clamp(0.3rem, 2vw, 0.6rem);
    --paddingx: clamp(0.6rem, 2vw, 1.5rem)
}